<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical insurance premium Prediction</title>
</head>
<body style= "background-color:  rgb(178, 235, 172);">
    <h1>Medical insurance premium Prediction</h1>
    
    <form method="get" action="/MedicalInsurance" >
        <label><h3>Age:</h3></label>
        <input type="text" name = "Age">
        </select>

        <br>
        <br>

        <label><h3>Diabetes:</h3></label>
        <input type="text" name = "Diabetes">
        </select>

        <br>
        <br>

        <label><h3>BloodPressureProblems:</h3></label>
        <input type="text" name = "BloodPressureProblems">
        </select>

        <br>
        <br>

        <label><h3>AnyTransplants:</h3></label>
        <input type="text" name = "AnyTransplants">
        </select>

        <br>
        <br>

        <label><h3>AnyChronicDiseases:</h3></label>
        <input type="text" name = "AnyChronicDiseases">
        </select>

        <br>
        <br>

        <label><h3>Height:</h3></label>
        <input type="text" name = "Height">
        </select>

        <br> 
        <br>

        <label><h3>Weight:</h3></label>
        <input type="text" name = "Weight">
        </select>

        <br>
        <br>

        <label><h3>KnownAllergies:</h3></label>
        <input type="text" name = "KnownAllergies">
        </select>

        <br>
        <br>

        <label><h3>HistoryOfCancerInFamily:</h3></label>
        <input type="text" name = "HistoryOfCancerInFamily">
        </select>
     

        <br>
        <br>

        <label><h3>NumberOfMajorSurgeries:</h3></label>
        <input type="text" name = "NumberOfMajorSurgeries">
        </select>

        <br>
        <br>

        <input type = "submit" value = "SUMBIT">

        <br>

        <p><h2>({Results: <b> {{prediction}}</b>}) </h2>
        </p>


    </form> 

</body>
</html>